#header {
    background-color:aquamarine;
    color:white;
    text-align:center;
    padding:5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #000000;
    background-color: aquamarine;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #FFFFFF;
}

form {
    float: right;
}
#section {
    width: auto;

}

h1 {
    align-content: center;
}
#footer {
    background-color:aquamarine;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}